<div>
    <h1>@City - @Year</h1>
    <p>@ImageUrl</p>
</div>


@code{
    [Parameter]
    [EditorRequired]
    public string ImageUrl { get; set; }

    [Parameter]
    [EditorRequired]
    public string City { get; set; }

    [Parameter]
    [EditorRequired]
    public int Year { get; set; }
}