<div>
    <h2>@Header</h2>
    <p>@Text</p>
    @if (Buttons != null)
    {
        <div>
            @foreach (var button in Buttons)
            {
                <a href="@button.Url" class="btn btn-primary">@button.Text</a>
            }
        </div>
    }
</div>


@code{
    [Parameter]
    [EditorRequired]
    public string Header { get; set; }

    [Parameter]
    [EditorRequired]
    public string Text { get; set; }

    [Parameter]
    public IEnumerable<Button> Buttons { get; set; }

    public class Button
    {
        public string Text { get; set; }
        public string Url { get; set; }
    }
}