@using Swetugg.Services;
@using Swetugg.Services.Models
@inject ConferenceManager ConferenceManager


<head>
    <link href="//fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
</head>


<div class="top-row ps-3 navbar navbar-dark navbar-top @colorScheme">
    <div class="container-fluid">
        <a class="navbar-left" href="">
            <img src="/img/40_WhiteBG_GraySwetuggOrigamiButterfly.png" width="50" height="41"
                 class="pull-left"/>
            Swetugg
        </a>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="page-scroll">
                <a href="#sponsor" data-target="#sponsor">Sponsors</a>
            </li>
            <li class="page-scroll">
                <a href="#speakers" data-target="#speakers">Speakers</a>
            </li>
            <li class="page-scroll">
                <a href="#schedule" data-target="#schedule">Schedule</a>
            </li>
            <li class="page-scroll">
                <a href="/codeofconduct">Code of Conduct</a>
            </li>
        </ul>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable @colorScheme" onclick="document.querySelector('.navbar-toggler').click() ">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @foreach (var e in ConferenceEditions)
        {
            string url = $"{e.City}/{e.Year}";

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@url">
                    <span class="bi" aria-hidden="true"></span> @($"{e.City} {e.Year}")
                </NavLink>
            </div>
        }
    </nav>
</div>


@code {

    //todo: this need to fetch from database which conference is available
    private string colorScheme = "goteborg";

    private IEnumerable<ConferenceEdition> ConferenceEditions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ConferenceEditions = await ConferenceManager.GetAllEditionssAsync();
    }

}