<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<section id="footerRights" class="footer-rights-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <a href="https://www.meetup.com/Swenug-Goteborg/" target="blank">
                    <img src="/img/swenug.png" />
                </a>
            </div>
            <div class="col-sm-4">
                <ul class="socialNetwork">
                    <li>
                        <a title="" class="tips" href="https://www.facebook.com/Swetugg">
                            <i class="fab fa-facebook iconRounded"></i>
                        </a>
                    </li>
                    <li>
                        <a title="" class="tips" href="https://twitter.com/swetugg" target="_blank">
                            <i class="fab fa-twitter iconRounded"></i>
                        </a>
                    </li>
                    <li>
                        <a title="" class="tips" href="#">
                            <i class="fab fa-google-plus iconRounded"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@code {
    
}