@using ConferenceManager.Services.Models
@using ConferenceManager.Services
@inherits LayoutComponentBase
@inject ConferenceService service

<div class="page">
    <div class="top-row ps-3 navbar navbar-dark navbar-top">
        <div class="container-fluid">
            <a class="navbar-left" href="">
                <img src="/img/40_WhiteBG_GraySwetuggOrigamiButterfly.png" width="50" height="41"
                     class="pull-left" />
                Swetugg
            </a>
        </div>
        
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <Footer />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>