<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="navbar-right">
        <nav class="nav flex-column">
            <ul class="nav navbar-nav">
                <li class="page-scroll">
                    <a href="#sponsor" data-target="#sponsor">Sponsors</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakers" data-target="#speakers">Speakers</a>
                </li>
                <li class="page-scroll">
                    <a href="#schedule" data-target="#schedule">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="/previous-editions" data-target="#previouseditions">Previous Editions</a>
                </li>
                <li class="page-scroll">
                    <a href="/codeofconduct">Code of Conduct</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

