<div>
    <h2>@Header</h2>
    <p>@Text</p>
    @if (Buttons != null)
    {
        <div>
            @foreach (var button in Buttons)
            {
                <a href="@button.Url" class="btn btn-primary">@button.Label</a>
            }
        </div>
    }
</div>


@code{
    [Parameter]
    [EditorRequired]
    public required string Header { get; set; }

    [Parameter]
    [EditorRequired]
    public required string Text { get; set; }

    [Parameter]
    public IEnumerable<Button>? Buttons { get; set; }
}